html, body {
    min-height: 100vh;
}

body {
    background: linear-gradient(to bottom, #273e62 0%, #141d2d 100%);
}

.topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    background: linear-gradient(to right, #2e394c, #0c1421);
    height: 80px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    font-family: 'Quicksand', Arial, sans-serif;
    border-radius: 16px;
    border: 2px solid black;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 65px;
    margin-right: 16px;
}

.nav-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-menu li {
    margin-left: 32px;
}

.nav-menu a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 1.6em;
    transition: color 0.2s;
    font-family: 'Roboto Condensed', Arial, sans-serif;
}

.nav-menu a:hover {
    color: #88bbff;
}

.nome {
    color: white
}

.section1 img {
    margin-top: 15px;
    margin-left: 20px;
}

.design1,
.design2 {
    border: 3px solid #222;
    border-radius: 16px;
}

.section2 p,
.section1 p {
    font-family: 'Nunito', Arial, sans-serif;
}

.section2 h1,
.section1 h1 {
    font-family: 'Merriweather', Arial, sans-serif;
}

.section1 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.section1 h1 {
    text-align: left;
    margin-top: 20px;
    margin-left: 40px;
    color: white;
}

.section1 p {
    color: white;
    margin: 0;
    margin-left: 40px;
    margin-top: 20px;
    margin-right: 0;
    font-size: 1.2em;
}

.invisible {
    opacity: 0;
    width: 25%;
}
.invisible2 {
    opacity: 0;
    width: 15%;
}

.section2 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 40px;
}

.section2-text {
    flex: 1;
    color: white;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 20px;
}

.section2-text h1 {
    text-align: left;
    margin: 0 0 16px 0;
}

.section2-text p {
    margin: 0;
    margin-top: 20px;
    text-align: left;
    font-size: 1.2em;
}

.design2 {
    max-width: 40vw;
    height: auto;
    object-fit: contain;
    margin-top: 20px;
    margin-right: 20px;
}

.comentario {
    margin-top: 20px;
    margin-left: 40px;
    color: white;
}

.comentario img {
    width: 250px;
    height: auto;
    display: block;
    margin-top: 50px;
    margin-left: 250px;
}